<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="">
    <clear/>
    <!-- Excel -->
    <add key="Excel-Item-1" value="..."/>
    <add key="Sheet_Excel-Item-1" value="..."/>
    <add key="Excel-Item-2" value="..."/>
    <add key="Sheet_Excel-Item-2" value="..."/>
    <add key="Excel-Item-3" value="..."/>
    <add key="Sheet_Excel-Item-3" value="..."/>
    <add key="Excel-Item-4" value="..."/>
    <add key="Sheet_Excel-Item-4" value="..."/>
    <add key="Excel-Item-5" value="..."/>
    <add key="Sheet_Excel-Item-5" value="..."/>
    <!-- Word -->
    <add key="Word-Item-1" value="..."/>
    <add key="Word-Item-2" value="..."/>
    <add key="Word-Item-3" value="..."/>
    <add key="Word-Item-4" value="..."/>
    <add key="Word-Item-5" value="..."/>
    <!-- Path -->
    <add key="Path-Item-1" value="..."/>
    <add key="Path-Item-2" value="..."/>
    <add key="Path-Item-3" value="..."/>
    <add key="Path-Item-4" value="..."/>
    <add key="Path-Item-5" value="..."/>
  </appSettings>
</configuration>